$primary: #4337EB;
$primary-d: #29219c;
$secondary: #fafafa;
$accent: #7AE582;

$white-d: #f1f1f1;
$grey: #d1d1d1;

$text-1: #222;
$text-2: #444;

$xs: 375px;
$sm: 425px;
$md: 768px;
$lg: 1024px;
